#kalkulator input {
text-align: center;
padding: 20px;
width: 100%;
border: solid black;
border-radius: 20px;

}

table {
border: solid black;
border-radius: 20px;
background-color: black;
}

#ekran {
  text-align: center;
  padding: 5px;
  height: 69px;
  border: 2px solid;
  border-radius: 20px;
  background-color: lightgray;
}

input:hover {
  background-color: rgb(153, 0, 255);
  transition: 0.5s;
} 

input {
  background-color: rgb(255, 123, 0);
}
   

